/* загальні стилі */
:root{
    --paragraph-color:#757575;
    --title-color:#212121;
    --background-color:#ffffff;
    --accent-color: #2196F3;
     --second-background-color:#2F303A;
     --transition-duration: 250ms;
     --transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;
}

body {
font-family:'Roboto','Raleway','sans-serif';
background-color:var(--background-color);
    color:var(--paragraph-color);
}

h1, h2, h3, h4, h5, h6 
{
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
        padding: 0;
}
img {
    display: block;
    min-width: 100%;
    height: auto;
}
 .section {
    padding: 94px 0;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
   }



.list {
    list-style: none;
    margin: 0;
    padding: 0;
}



.section-title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    letter-spacing: 0.03em;
    text-align: center;
}

.button-send {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background-color: #2196F3;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;

    color: #FFFFFF;

}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
    display: block;
    
}
.logo__changeble--black {
color: #000000;
}
.logo__changeble--white {
    color: #ffffff;
}

.social-link {
    transition: background-color var(--transition-duration) var(--transition-timing-function),
        fill var(--transition-duration) var(--transition-timing-function);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    border-radius: 50%;
}

.social-link:focus,
.social-link:hover {
    background-color: var(--accent-color);
}
/* h e a d e r */



 .page-header {
  border-bottom: 1px solid #ECECEC;
background-color: var(--background-color);
}

.page-header__container {
    display: flex;
    align-items: center;

}
.page-header__logo {
    padding-top: 24px;
        padding-bottom: 25px;
}

.page-header__nav {
    margin-left: 93px;
}

.page-header__list {
    display: flex;
}

.page-header__list--second {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.page-header__item:not(:last-child) {
    margin-right: 50px;
}

.page-header__item--second:not(:last-child) {
    margin-right: 30px;
}

.page-header__link {
    transition: color var(--transition-duration) var(--transition-timing-function);
    font-weight: 500;
        font-size: 14px;
        line-height:calc(16/14);
        letter-spacing: 0.02em;
        color: #212121;
    text-decoration: none;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    }

    .page-header__link:hover,
    .page-header__link:focus {
color: var(--accent-color);

    }

.page-header__link--current {
    position: relative;
    color: var(--accent-color);
}

.page-header__link--current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
}

 .page-header__link--second {
   color: var(--paragraph-color);
    display: flex;
        align-items: center;
} 


.page-header__icon {
margin-right: 10px;
    fill: currentColor;
}


/* f o o t e r */

.page-footer__container {
    display: flex;
    align-items: baseline;
    
}


.page-footer {
    background-color:var(--second-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.page-footer__logo {
    margin-bottom: 20px;
}

 .page-footer__title {
     margin-bottom: 20px;

     font-weight: 700;
     font-size: 14px;
     line-height: calc(16/14);
     letter-spacing: 0.03em;
     text-transform: uppercase;

     color: #FFFFFF;

 }

 .page-footer__icon {
     fill: #FFFFFF;
 }

 .page-footer__first-group {
    margin-right: 70px;
} 

 .page-footer__second-group {
     margin-right: auto;
 }



.page-footer__list--second {
    display: flex;
    align-items: center;

}

.page-footer__item--first:not(:last-child) {
    margin-bottom: 9px;
}

.page-footer__item--second:not(:last-child) {
    margin-right: 10px;
}

.page-footer__link:hover,
.page-footer__link:focus {
    color: var(--accent-color);
}

.page-footer__link  {
     font-style: normal;
     font-size: 14px;
     line-height: calc(24/14);
     letter-spacing: 0.03em;
     color: #FFFFFF;
     text-decoration: none;
 }

 .page-footer__link--gray {
color: rgba(255, 255, 255, 0.6);
 }

.page-footer__social-link {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}



.page-footer__subscription-label {
 position: absolute;
 top: 50%;
 left: 16px;
 transform: translateY(-50%);
 transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    font-weight: 400;
        font-size: 16px;
        line-height: calc(20/16);
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);

   }

.page-footer__subscription-fields-wrap {
    position: relative;
    display: flex;
}

.page-footer__subscription-field {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 358px;
    min-height: 50px;
    padding: 15px 16px;
margin-right: 12px;
cursor: pointer;

    border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: transparent;
        color: #ffffff;
         
}

.page-footer__subscription-field:focus {
    outline: none;
    border-color: var(--accent-color);
}

.page-footer__subscription-field:not(:placeholder-shown) + .page-footer__subscription-label {
transform: translateY(-205%);
}

.page-footer__button-send {
    min-height: 50px;
 padding-right: 29px;
    padding-left: 28px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    
}

.page-footer__button-send:focus {
    background-color: #188CE8;
}


.page-footer__button-text {
    margin-right: 10px;
}


/* h e r o*/

.hero-section {
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--second-background-color);
        border: 1px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     background-image: 
     linear-gradient(30deg, rgba(47, 48, 58, 0.8),
        rgba(0, 0, 0, 0.1)), 
     url('../images/overlay.jpg');
    background-repeat: no-repeat;
    background-position: center;
   
   
}

.hero {
   text-align: center;
  text-transform:uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
        
}

.hero-title {
    margin-bottom: 30px;

    font-weight: 900;
        font-size: 44px;
        line-height: calc(60/44);
    letter-spacing: 0.06em;
color: #ffffff;
      

    
}
.open-button {
transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms;
    min-width: 200px;
    padding: 10px 32px;
   
    }

.open-button:focus,
.open-button:hover {
    background-color: #188CE8;
    box-shadow: -1px -1px 1px rgba(250, 246, 245, 0.945),
    1px 1px 1px rgba(250, 246, 245, 0.945),
    -1px 1px 1px rgba(250, 246, 245, 0.945),
    1px -1px 1px rgba(250, 246, 245, 0.945);
}


.open-button:active {
     box-shadow: inset -1px -2px 1px rgba(31, 37, 39, 0.945),
          inset  1px 2px 1px rgba(31, 37, 39, 0.945),
           inset -1px 2px 1px rgba(31, 37, 39, 0.945),
           inset 1px -2px 1px rgba(31, 37, 39, 0.945);

 
}

/* f e a t u r e s */



.features-description.list {
    font-size: 14px;
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;
        display: flex;
           }

    .item-features {
        width: 270px;

    }

    .features-description .item-features + .item-features {
        margin-left: 30px;
    }
     

.features-background {
    display: flex;
justify-content: center;
align-items: center;
min-height: 120px;

    background-color: #F5F4FA;
    margin-bottom: 30px;
}

.features-title {
    font-weight: 700;
        font-size: 14px;
        line-height: calc(16 / 14);
        text-transform: uppercase;
        color: var(--title-color);
        margin-bottom: 10px;
}



.icon-features {
    width: 70px;
    height: 70px;


}


/* o u r  p r o f i l e */

.profile-section {
    padding-top: 0px;
}

.first.section-title {
    margin-bottom: 50px;
    
}

.our-profile-list {
    display: flex;
    }

.item-profile {
    position: relative;
            width: 370px;
            
        }

.our-profile-list .item-profile + .item-profile {
margin-left: 30px;
        }
  

   .profile-image-wrap {
    position: relative;
   }

   .profile-image-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(47, 48, 58, 0.8);

            font-weight: 700;
                font-size: 14px;
                line-height: calc(16/14);
                text-align: center;
                letter-spacing: 0.03em;
                text-transform: uppercase;
            
                color: #FFFFFF;
   }


/* o u r  t e a m */

.team-section {
    background-color: #F5F4FA;
}

.second.section-title {
    margin-bottom: 50px;
}

.team-list {
display: flex;
}

.item-team {
        font-size: 16px;
        line-height:calc(19/16);
        letter-spacing: 0.03em;
        color: var(--paragraph-color);
        text-align: center;
        background-color: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
         0px 1px 1px rgba(0, 0, 0, 0.14),
          0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;

        width: 270px;
}

.team-list .item-team + .item-team {
    margin-left: 30px;
}

.team-description {
    padding: 30px 32px;
} 

.team-title {
    font-size: 16px;
    font-weight: 500;
    color: var(--title-color);

    margin-bottom: 10px;
   
}
.team-title > p[lang] {
    display: block;
   
}
.team-team {
margin-bottom: 16px;
}

.social-links.list {
   display: flex; 
   justify-content: center;
}


.social-links .item-social-links + .item-social-links {
margin-left: 10px;
}

.social-link-icon {
    fill: #AFB1B8;
}
.social-link:focus .social-link-icon,
.social-link:hover .social-link-icon {
    fill: #ffffff;
}

/* R E G U L A R  C L I E N T S */

.regular-clients-section {
   background-color:#FFFFFF; 
}

.third.section-title {
margin-bottom: 50px;
}

.regular-client-list {
    display: flex;
    justify-content: space-around;
   
    
}
.item-regular-client:not(:last-child) {
    margin-right: 30px;
}

.regular-client {
transition: background-color  var(--transition-duration) var(--transition-timing-function),
fill  var(--transition-duration) var(--transition-timing-function);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    min-height: 92px;
    outline: transparent;
   
    border: 1px solid #AFB1B8;
        border-radius: 4px;

}

.regular-client:hover,
.regular-client:focus {  
    border-color: var(--accent-color);
}

.client-svg {
   
    fill: #AFB1B8;

}

.regular-client:hover .client-svg,
.regular-client:focus .client-svg {
    fill: var(--accent-color);
}

/* P  O  R  T  F  O  L  I  O */

/* b u t t o n s */

.filter-list {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter {

    transition: box-shadow  var(--transition-duration) var(--transition-timing-function),
            color  var(--transition-duration) var(--transition-timing-function),
            background-color  var(--transition-duration) var(--transition-timing-function);
        
    display: inline-block;
    padding: 6px 22px;

    border-radius: 4px;
        border: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    color: var(--title-color);

    cursor: pointer;

}

.filter:hover,
.filter:focus {
    transform: translate(0 1px);
    background-color: #2196F3;
    color: #ffffff;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.12),
            0px 7px 5px rgba(0, 0, 0, 0.14),
            0px 7px 5px rgba(0, 0, 0, 0.2);
}

.filter:active { 
    box-shadow:unset;
    transform: translateY(0);
}

.current2 {
    background-color: #2196F3;
    color: #FFFFFF;
}

.item-filter:not(:last-child) {
margin-right: 8px;
}

/* c a r d s */

.project-link {
    transition: box-shadow var(--transition-duration) var(--transition-timing-function);

    display: block;

    font-size: 16px;
line-height:calc(30/16);
letter-spacing: 0.03em;
color: var(--paragraph-color);
text-decoration: none;

}
 
.project-link:hover,
.project-link:focus {
    box-shadow: 5px 15px 5px rgba(0, 0, 0, 0.12),
 5px 5px 5px rgba(0, 0, 0, 0.14),
 5px 15px 5px rgba(0, 0, 0, 0.2);
}



.project-image-wrap {
    position: relative;
    overflow: hidden; 
 

}

.project-link:hover .project-overlay-text,
.project-link:focus .project-overlay-text {
    transform: translateY(0);
}

.project-overlay-text {
    position: absolute;
      transform: translateY(101%); 
    transition: transform var(--transition-duration) var(--transition-timing-function);
      
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 100%;
        height: 100%;
        background-color: rgba(33, 150, 243, 0.9);
    
        font-size: 18px;
        line-height: calc(28/16);
        letter-spacing: 0.03em;
        color: #FFFFFF
}

 .project-title {

    font-weight: 700;
    font-size: 18px;
    line-height:calc(36/18);
    letter-spacing: 0.06em;
    color: var(--title-color);

    margin-bottom: 4px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
}
.item-project {
    width:370px;
    margin-right: 30px;  
}
.item-project:nth-child(3n) {
    margin-right: 0;
}
.item-project:not(:nth-child(-n+3)) {
    margin-top: 30px;
}


.project-card-description {
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    
}

/* M O D A L */

 .backdrop {
transition: opacity 250ms linear ,
 visibility 2500ms linear;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
} 

   .backdrop.is-hidden {
    opacity: 0;
     visibility: hidden; 
    pointer-events: none;
} 
 .backdrop.is-hidden .modal {
transform:translate(-50%,-10%) rotate(5turn) scale(0.05) skew(30deg,20deg);
transform-origin:center left ;

}   
.modal {
    transition: transform 500ms cubic-bezier(1, -1.01, .23, -0.46) 250ms;
transform:translate(-50%,-50%) rotate(0) scale(1) skew(0);
position: absolute;
top: 50%;
left: 50%;

padding: 40px;
min-width: 528px;
min-height: 581px;

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
background-color: #FFFFFF;

}


.button-close {
    transition: background-color var(--transition-duration) var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function);
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
width: 30px;
height: 30px;
cursor: pointer;

border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
background-color: transparent;
}


.close-svg {
    width: 18px;
    height: 18px;
}

.button-close:hover .close-svg,
.button-close:focus .close-svg {
    fill:#2196F3;
}

.no-scroll {
    overflow: hidden;
}
.modal-title {
margin-bottom: 12px;

font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

/* F O R M */

.modal-field {
    margin-bottom: 10px;
   
}

.modal-input {

 padding-left: 42px;
    width: 100%;
    height: 40px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
cursor: pointer;
    border : 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
    
}

.field-wrap {
    position: relative;
    display: block;
}
 
.input-svg {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-input:focus {
    border-color: var(--accent-color);
    outline: none;
}

.modal-input:focus + .input-svg {
    fill: var(--accent-color);
}

.modal-field-comment {
    margin-bottom: 20px;
}

.user-comment-text {
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
}

.user-comment-text:focus {
    border-color: var(--accent-color);
    outline: none;
}



.user-comment-text::placeholder {

font-weight: 400;
font-size: 12px;
line-height: calc(14/12);
letter-spacing: 0.01em;

color: rgba(117, 117, 117, 0.5);
}

.modal-label {
    display: block;
cursor: pointer;

font-weight: 400;
font-size: 12px;
line-height: calc(14/12);
letter-spacing: 0.01em;

}

.label-title {
    display: block;
    margin-bottom: 4px;

}

.modal-label.comment {
    margin-bottom: 4px;
}


.modal-field-consent {
    padding-left: 12px;
    padding-right: 11px;
    margin-bottom: 30px;
}

.conditions.link {
    color: var(--accent-color);
    text-decoration: underline var(--accent-color);
}

.consent {
    display: flex;
    align-items: center;
    cursor: pointer;
   
font-size: 14px;
line-height: calc(24/14);

letter-spacing: 0.03em;

color: #757575;
}

 .checkbox-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox-custom-icon {
    display: block;
   margin-right: 8.38px;
    width: 16px;
    height: 15px;

    border-radius: 2px;
    border: 2px solid #212121;
    align-items: center;
}

.checkbox-hidden:checked + .checkbox-custom-icon {
    background-color: var(--accent-color);
    background-image: url('../images/icon-check.svg');
    background-size: contain;
    background-position: 2px 3px;
    background-origin: border-box;
    border-color: var(--accent-color);
}

.checkbox-hidden:focus + .checkbox-custom-icon {
    border-color: var(--accent-color);
}

.modal-button {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    min-width: 200px;
    padding: 10px 55px 10px 56px;
    
}

.modal-button:focus {
    background-color:#188CE8 ;
}

.modal-button:active {
    box-shadow: unset;
}



